1	|GRI_PHI_1_P_1_66_OH	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.00501, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.005	| Bath_gas -- x->{'bg1': 'Ar'} = {'bg1': 0.98999}	|T -- 1364	| P -- 1.66	| flow_rate -- N/A	|Phi -- N/A	| observed -- 400	|obs_unit -- 	| deviation -- 5.3	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
2	|GRI_PHI_1_P_1_55_OH	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0015, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.0015	| Bath_gas -- x->{'bg1': 'Ar'} = {'bg1': 0.997}	|T -- 1524	| P -- 1.55	| flow_rate -- N/A	|Phi -- N/A	| observed -- 400	|obs_unit -- 	| deviation -- 5.3	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
3	|GRI_PHI_1_P_1_66_CO	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.00501, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.005	| Bath_gas -- x->{'bg1': 'Ar'} = {'bg1': 0.98999}	|T -- 1364	| P -- 1.66	| flow_rate -- N/A	|Phi -- N/A	| observed -- 90	|obs_unit -- 	| deviation -- 9.0	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
4	|GRI_PHI_1_P_1_55_CO	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0015, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.0015	| Bath_gas -- x->{'bg1': 'Ar'} = {'bg1': 0.997}	|T -- 1524	| P -- 1.55	| flow_rate -- N/A	|Phi -- N/A	| observed -- 260	|obs_unit -- 	| deviation -- 27.0	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
5	|GRI_Methane_Phi_1_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'Ar'} = {'bg1': 0.99}	|T -- 1842	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 891	|obs_unit -- 	| deviation -- 8.91	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
6	|GRI_Methane_Phi_1_P_4_Sp_Prof_CO2	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'Ar'} = {'bg1': 0.99}	|T -- 1926	| P -- 4.16	| flow_rate -- N/A	|Phi -- N/A	| observed -- 250	|obs_unit -- 	| deviation -- 0.05	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
7	|GRI_Methane_Phi_1_P_1_12_Sp_Prof_CO	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'Ar'} = {'bg1': 0.99}	|T -- 1916	| P -- 1.12	| flow_rate -- N/A	|Phi -- N/A	| observed -- 700	|obs_unit -- 	| deviation -- 0.07	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
