1	|ign_BUTANOATE_phi_1_IGN_PHI_0_25_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.26	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.73}	|T -- 1580.12830641848	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 21.92	|obs_unit -- 	| deviation -- 2.192	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
2	|ign_BUTANOATE_phi_1_IGN_PHI_0_25_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.26	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.73}	|T -- 1506.84105840516	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 47.12	|obs_unit -- 	| deviation -- 4.712	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
3	|ign_BUTANOATE_phi_1_IGN_PHI_0_25_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.26	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.73}	|T -- 1442.21062043901	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 72.3	|obs_unit -- 	| deviation -- 7.23	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
4	|ign_BUTANOATE_phi_1_IGN_PHI_0_25_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.26	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.73}	|T -- 1374.96734452557	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 163.71	|obs_unit -- 	| deviation -- 16.371	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
5	|ign_BUTANOATE_phi_1_IGN_PHI_0_25_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.26	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.73}	|T -- 1324.34544226516	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 405.93	|obs_unit -- 	| deviation -- 40.593	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
6	|ign_BUTANOATE_phi_1_IGN_PHI_0_25_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.26	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.73}	|T -- 1287.81342159148	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 872.66	|obs_unit -- 	| deviation -- 87.266	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
7	|ign_BUTANOATE_phi_1_IGN_PHI_0_25_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.26	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.73}	|T -- 1568.33223550077	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 14.95	|obs_unit -- 	| deviation -- 1.495	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
8	|ign_BUTANOATE_phi_1_IGN_PHI_0_25_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.26	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.73}	|T -- 1472.84081536468	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 25.28	|obs_unit -- 	| deviation -- 2.528	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
9	|ign_BUTANOATE_phi_1_IGN_PHI_0_25_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.26	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.73}	|T -- 1401.91501591174	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 74.2	|obs_unit -- 	| deviation -- 7.42	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
10	|ign_BUTANOATE_phi_1_IGN_PHI_0_25_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.26	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.73}	|T -- 1368.53197574961	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 102.63	|obs_unit -- 	| deviation -- 10.263	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
11	|ign_BUTANOATE_phi_1_IGN_PHI_0_25_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.26	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.73}	|T -- 1292.77468230062	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 308.13	|obs_unit -- 	| deviation -- 30.813	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
12	|ign_BUTANOATE_phi_1_IGN_PHI_1_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.925}	|T -- 1601.89664562842	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 64.3	|obs_unit -- 	| deviation -- 6.43	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
13	|ign_BUTANOATE_phi_1_IGN_PHI_1_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.925}	|T -- 1541.54462771697	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 99.68	|obs_unit -- 	| deviation -- 9.968	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
14	|ign_BUTANOATE_phi_1_IGN_PHI_1_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.925}	|T -- 1488.29456325996	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 139.73	|obs_unit -- 	| deviation -- 13.973	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
15	|ign_BUTANOATE_phi_1_IGN_PHI_1_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.925}	|T -- 1402.4065296048	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 331.48	|obs_unit -- 	| deviation -- 33.148	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
16	|ign_BUTANOATE_phi_1_IGN_PHI_1_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.925}	|T -- 1371.87384248145	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 553.73	|obs_unit -- 	| deviation -- 55.373	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
17	|ign_BUTANOATE_phi_1_IGN_PHI_1_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.925}	|T -- 1573.6384093663	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 37.87	|obs_unit -- 	| deviation -- 3.787	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
18	|ign_BUTANOATE_phi_1_IGN_PHI_1_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.925}	|T -- 1497.18529165169	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 63.67	|obs_unit -- 	| deviation -- 6.367	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
19	|ign_BUTANOATE_phi_1_IGN_PHI_1_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.925}	|T -- 1402.38686243987	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 189.61	|obs_unit -- 	| deviation -- 18.961	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
20	|ign_BUTANOATE_phi_1_IGN_PHI_1_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.01}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.925}	|T -- 1377.82799195348	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 236.46	|obs_unit -- 	| deviation -- 23.646	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
21	|ign_BUTANOATE_phi_1_IGN_PHI_1_5_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.015}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.92}	|T -- 1651.5822157627	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 60.13	|obs_unit -- 	| deviation -- 6.013	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
22	|ign_BUTANOATE_phi_1_IGN_PHI_1_5_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.015}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.92}	|T -- 1586.4202427223	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 73.08	|obs_unit -- 	| deviation -- 7.308	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
23	|ign_BUTANOATE_phi_1_IGN_PHI_1_5_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.015}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.92}	|T -- 1482.86548927147	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 184.81	|obs_unit -- 	| deviation -- 18.481	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
24	|ign_BUTANOATE_phi_1_IGN_PHI_1_5_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.015}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.92}	|T -- 1384.77303569945	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| observed -- 560.08	|obs_unit -- 	| deviation -- 56.008	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
25	|ign_BUTANOATE_phi_1_IGN_PHI_1_5_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.015}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.92}	|T -- 1639.15616240759	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 20.85	|obs_unit -- 	| deviation -- 2.085	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
26	|ign_BUTANOATE_phi_1_IGN_PHI_1_5_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.015}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.92}	|T -- 1530.29213276815	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 50.51	|obs_unit -- 	| deviation -- 5.051	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
27	|ign_BUTANOATE_phi_1_IGN_PHI_1_5_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.015}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.92}	|T -- 1483.32740002373	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 81.13	|obs_unit -- 	| deviation -- 8.113	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
28	|ign_BUTANOATE_phi_1_IGN_PHI_1_5_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.015}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.92}	|T -- 1403.03617027247	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 183.12	|obs_unit -- 	| deviation -- 18.312	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
29	|ign_BUTANOATE_phi_1_IGN_PHI_1_5_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.015}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.92}	|T -- 1380.71963107171	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 262.75	|obs_unit -- 	| deviation -- 26.275	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
30	|ign_BUTANOATE_phi_1_IGN_PHI_1_5_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.015}	| Oxidizer -- x->O2 = 0.065	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.92}	|T -- 1325.48645352844	| P -- 4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 519.74	|obs_unit -- 	| deviation -- 51.974	|data_weight -- 30	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
1	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 684.32	| P -- 30.31	| flow_rate -- N/A	|Phi -- N/A	| observed -- 120.978	|obs_unit -- 	| deviation -- 60.489	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
2	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 698.71	| P -- 30.24	| flow_rate -- N/A	|Phi -- N/A	| observed -- 85.52	|obs_unit -- 	| deviation -- 42.76	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
3	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 719.03	| P -- 29.78	| flow_rate -- N/A	|Phi -- N/A	| observed -- 54.544	|obs_unit -- 	| deviation -- 27.272	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
5	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 740.79	| P -- 29.62	| flow_rate -- N/A	|Phi -- N/A	| observed -- 46.404	|obs_unit -- 	| deviation -- 23.202	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
7	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 762.34	| P -- 29.4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 47.99	|obs_unit -- 	| deviation -- 23.995	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
8	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 794.22	| P -- 29.65	| flow_rate -- N/A	|Phi -- N/A	| observed -- 58.972	|obs_unit -- 	| deviation -- 29.486	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
10	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 806.6	| P -- 30.03	| flow_rate -- N/A	|Phi -- N/A	| observed -- 54.024	|obs_unit -- 	| deviation -- 27.012	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
13	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 820.07	| P -- 29.45	| flow_rate -- N/A	|Phi -- N/A	| observed -- 52.008	|obs_unit -- 	| deviation -- 26.004	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
14	|ing_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 832.82	| P -- 30.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 57.7	|obs_unit -- 	| deviation -- 5.77	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
15	|ing_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 845.45	| P -- 30.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 37.4	|obs_unit -- 	| deviation -- 3.74	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
16	|ing_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 858.77	| P -- 30.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 21.6	|obs_unit -- 	| deviation -- 2.16	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
17	|ing_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 869.05	| P -- 30.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 12.6	|obs_unit -- 	| deviation -- 1.26	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
18	|ing_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 881.23	| P -- 30.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 10.0	|obs_unit -- 	| deviation -- 1.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
19	|ing_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 895.8	| P -- 30.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 5.7	|obs_unit -- 	| deviation -- 0.57	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
20	|ing_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 908.54	| P -- 30.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 4.4	|obs_unit -- 	| deviation -- 0.44	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'ms'}
