26	|MB_JSR__PHI_1_13_CO	| target -- JSR	| simulation -- Homogeneous reactor	| measurnment_type -- species concentration	|Ignition_mode -- no ignition	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.075}	| Oxidizer -- x->O2 = 0.65	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 99.275}	|T -- 1100	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| res -- 0.07	| observed -- 0.001073460493717	|obs_unit -- 	| deviation -- 0.000107346049372	|data_weight -- 55	|units -- {'JSR': 'mol', 'res': 's', 'P': 'atm', 'T': 'K', 'observed': 'ms'}
26	|MB_JSR__PHI_1_13_CO	| target -- JSR	| simulation -- Homogeneous reactor	| measurnment_type -- species concentration	|Ignition_mode -- no ignition	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.075}	| Oxidizer -- x->O2 = 0.65	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 99.275}	|T -- 1200	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| res -- 0.07	| observed -- 0.001073460493717	|obs_unit -- 	| deviation -- 0.000107346049372	|data_weight -- 55	|units -- {'JSR': 'mol', 'res': 's', 'P': 'atm', 'T': 'K', 'observed': 'ms'}
26	|MB_JSR__PHI_1_13_CO	| target -- JSR	| simulation -- Homogeneous reactor	| measurnment_type -- species concentration	|Ignition_mode -- no ignition	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.075}	| Oxidizer -- x->O2 = 0.65	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 99.275}	|T -- 1250	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| res -- 0.07	| observed -- 0.001073460493717	|obs_unit -- 	| deviation -- 0.000107346049372	|data_weight -- 55	|units -- {'JSR': 'mol', 'res': 's', 'P': 'atm', 'T': 'K', 'observed': 'ms'}
26	|MB_JSR__PHI_1_13_CO	| target -- JSR	| simulation -- Homogeneous reactor	| measurnment_type -- species concentration	|Ignition_mode -- no ignition	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.075}	| Oxidizer -- x->O2 = 0.65	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 99.275}	|T -- 1300	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| res -- 0.07	| observed -- 0.001073460493717	|obs_unit -- 	| deviation -- 0.000107346049372	|data_weight -- 55	|units -- {'JSR': 'mol', 'res': 's', 'P': 'atm', 'T': 'K', 'observed': 'ms'}
26	|MB_JSR__PHI_1_13_CO	| target -- JSR	| simulation -- Homogeneous reactor	| measurnment_type -- species concentration	|Ignition_mode -- no ignition	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.075}	| Oxidizer -- x->O2 = 0.65	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 99.275}	|T -- 1400	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| res -- 0.07	| observed -- 0.001073460493717	|obs_unit -- 	| deviation -- 0.000107346049372	|data_weight -- 55	|units -- {'JSR': 'mol', 'res': 's', 'P': 'atm', 'T': 'K', 'observed': 'ms'}
