1	|x10001023	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO', 'c': 'CH4'} = {'a': 0.003, 'b': 0.0562, 'c': 0.0}	| Oxidizer -- x->O2 = 0.0296	| Bath_gas -- x->{'a': 'Ar'}={'a': 0.9112}	|T -- 900.0	| P -- 92000.0	| flow_rate -- 	|Phi -- 1.0	| observed -- 6497.0	| obs_unit --unitless 	| deviation -- 1039.52	|data_weight -- 22	|units -- {'conc': 'mol', 'P': 'Pa', 'T': 'K', 'observed': 'us', 'flow': ''}
1	|x10001023	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO', 'c': 'CH4'} = {'a': 0.003, 'b': 0.0562, 'c': 0.0}	| Oxidizer -- x->O2 = 0.0296	| Bath_gas -- x->{'a': 'Ar'}={'a': 0.9112}	|T -- 950.0	| P -- 92000.0	| flow_rate -- 	|Phi -- 1.0	| observed -- 6497.0	| obs_unit --unitless 	| deviation -- 1039.52	|data_weight -- 22	|units -- {'conc': 'mol', 'P': 'Pa', 'T': 'K', 'observed': 'us', 'flow': ''}
1	|x10001023	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO', 'c': 'CH4'} = {'a': 0.003, 'b': 0.0562, 'c': 0.0}	| Oxidizer -- x->O2 = 0.0296	| Bath_gas -- x->{'a': 'Ar'}={'a': 0.9112}	|T -- 1000.0	| P -- 92000.0	| flow_rate -- 	|Phi -- 1.0	| observed -- 6497.0	| obs_unit --unitless 	| deviation -- 1039.52	|data_weight -- 22	|units -- {'conc': 'mol', 'P': 'Pa', 'T': 'K', 'observed': 'us', 'flow': ''}
1	|x10001023	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO', 'c': 'CH4'} = {'a': 0.003, 'b': 0.0562, 'c': 0.0}	| Oxidizer -- x->O2 = 0.0296	| Bath_gas -- x->{'a': 'Ar'}={'a': 0.9112}	|T -- 1050.0	| P -- 92000.0	| flow_rate -- 	|Phi -- 1.0	| observed -- 6497.0	| obs_unit --unitless 	| deviation -- 1039.52	|data_weight -- 22	|units -- {'conc': 'mol', 'P': 'Pa', 'T': 'K', 'observed': 'us', 'flow': ''}
1	|x10001023	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO', 'c': 'CH4'} = {'a': 0.003, 'b': 0.0562, 'c': 0.0}	| Oxidizer -- x->O2 = 0.0296	| Bath_gas -- x->{'a': 'Ar'}={'a': 0.9112}	|T -- 1100.0	| P -- 92000.0	| flow_rate -- 	|Phi -- 1.0	| observed -- 6497.0	| obs_unit --unitless 	| deviation -- 1039.52	|data_weight -- 22	|units -- {'conc': 'mol', 'P': 'Pa', 'T': 'K', 'observed': 'us', 'flow': ''}
1	|x10001023	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO', 'c': 'CH4'} = {'a': 0.003, 'b': 0.0562, 'c': 0.0}	| Oxidizer -- x->O2 = 0.0296	| Bath_gas -- x->{'a': 'Ar'}={'a': 0.9112}	|T -- 1150.0	| P -- 92000.0	| flow_rate -- 	|Phi -- 1.0	| observed -- 6497.0	| obs_unit --unitless 	| deviation -- 1039.52	|data_weight -- 22	|units -- {'conc': 'mol', 'P': 'Pa', 'T': 'K', 'observed': 'us', 'flow': ''}
1	|x10001023	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO', 'c': 'CH4'} = {'a': 0.003, 'b': 0.0562, 'c': 0.0}	| Oxidizer -- x->O2 = 0.0296	| Bath_gas -- x->{'a': 'Ar'}={'a': 0.9112}	|T -- 1200.0	| P -- 92000.0	| flow_rate -- 	|Phi -- 1.0	| observed -- 6497.0	| obs_unit --unitless 	| deviation -- 1039.52	|data_weight -- 22	|units -- {'conc': 'mol', 'P': 'Pa', 'T': 'K', 'observed': 'us', 'flow': ''}
1	|x10001023	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO', 'c': 'CH4'} = {'a': 0.003, 'b': 0.0562, 'c': 0.0}	| Oxidizer -- x->O2 = 0.0296	| Bath_gas -- x->{'a': 'Ar'}={'a': 0.9112}	|T -- 1250.0	| P -- 92000.0	| flow_rate -- 	|Phi -- 1.0	| observed -- 6497.0	| obs_unit --unitless 	| deviation -- 1039.52	|data_weight -- 22	|units -- {'conc': 'mol', 'P': 'Pa', 'T': 'K', 'observed': 'us', 'flow': ''}
1	|x10001023	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO', 'c': 'CH4'} = {'a': 0.003, 'b': 0.0562, 'c': 0.0}	| Oxidizer -- x->O2 = 0.0296	| Bath_gas -- x->{'a': 'Ar'}={'a': 0.9112}	|T -- 1300.0	| P -- 92000.0	| flow_rate -- 	|Phi -- 1.0	| observed -- 6497.0	| obs_unit --unitless 	| deviation -- 1039.52	|data_weight -- 22	|units -- {'conc': 'mol', 'P': 'Pa', 'T': 'K', 'observed': 'us', 'flow': ''}
1	|x10001023	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO', 'c': 'CH4'} = {'a': 0.003, 'b': 0.0562, 'c': 0.0}	| Oxidizer -- x->O2 = 0.0296	| Bath_gas -- x->{'a': 'Ar'}={'a': 0.9112}	|T -- 1350.0	| P -- 92000.0	| flow_rate -- 	|Phi -- 1.0	| observed -- 6497.0	| obs_unit --unitless 	| deviation -- 1039.52	|data_weight -- 22	|units -- {'conc': 'mol', 'P': 'Pa', 'T': 'K', 'observed': 'us', 'flow': ''}
1	|x10001023	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO', 'c': 'CH4'} = {'a': 0.003, 'b': 0.0562, 'c': 0.0}	| Oxidizer -- x->O2 = 0.0296	| Bath_gas -- x->{'a': 'Ar'}={'a': 0.9112}	|T -- 1400.0	| P -- 92000.0	| flow_rate -- 	|Phi -- 1.0	| observed -- 6497.0	| obs_unit --unitless 	| deviation -- 1039.52	|data_weight -- 22	|units -- {'conc': 'mol', 'P': 'Pa', 'T': 'K', 'observed': 'us', 'flow': ''}
1	|x10001023	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO', 'c': 'CH4'} = {'a': 0.003, 'b': 0.0562, 'c': 0.0}	| Oxidizer -- x->O2 = 0.0296	| Bath_gas -- x->{'a': 'Ar'}={'a': 0.9112}	|T -- 1700.0	| P -- 92000.0	| flow_rate -- 	|Phi -- 1.0	| observed -- 6497.0	| obs_unit --unitless 	| deviation -- 1039.52	|data_weight -- 22	|units -- {'conc': 'mol', 'P': 'Pa', 'T': 'K', 'observed': 'us', 'flow': ''}
1	|x10001023	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO', 'c': 'CH4'} = {'a': 0.003, 'b': 0.0562, 'c': 0.0}	| Oxidizer -- x->O2 = 0.0296	| Bath_gas -- x->{'a': 'Ar'}={'a': 0.9112}	|T -- 2000.0	| P -- 92000.0	| flow_rate -- 	|Phi -- 1.0	| observed -- 6497.0	| obs_unit --unitless 	| deviation -- 1039.52	|data_weight -- 22	|units -- {'conc': 'mol', 'P': 'Pa', 'T': 'K', 'observed': 'us', 'flow': ''}
1	|x10001023	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO', 'c': 'CH4'} = {'a': 0.003, 'b': 0.0562, 'c': 0.0}	| Oxidizer -- x->O2 = 0.0296	| Bath_gas -- x->{'a': 'Ar'}={'a': 0.9112}	|T -- 2400.0	| P -- 92000.0	| flow_rate -- 	|Phi -- 1.0	| observed -- 6497.0	| obs_unit --unitless 	| deviation -- 1039.52	|data_weight -- 22	|units -- {'conc': 'mol', 'P': 'Pa', 'T': 'K', 'observed': 'us', 'flow': ''}
