1	|RCM__TMB_100_PHI_0_5_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 363.15	| T -- 921	| Pi -- 0.43029843	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 165.9	|obs_unit -- 	| deviation -- 16.59	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
2	|RCM__TMB_100_PHI_0_5_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 363.15	| T -- 950	| Pi -- 0.43029843	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 62.07	|obs_unit -- 	| deviation -- 6.207	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
3	|RCM__TMB_100_PHI_0_5_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 378.15	| T -- 972	| Pi -- 0.45003689	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 29.43	|obs_unit -- 	| deviation -- 2.943	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
5	|RCM__TMB_100_PHI_0_5_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 408.15	| T -- 1004	| Pi -- 0.45003689	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 15.26	|obs_unit -- 	| deviation -- 1.526	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
6	|RCM__TMB_100_PHI_0_5_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 423.15	| T -- 1039	| Pi -- 0.46977535	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 6.794	|obs_unit -- 	| deviation -- 0.6794	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
20	|RCM__TMB_100_PHI_1_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20639583	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.46583744, 'bg2': 0.31056689, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 393.15	| T -- 1008	| Pi -- 0.55000232	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 10.55	|obs_unit -- 	| deviation -- 1.055	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
21	|RCM__TMB_100_PHI_1_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20639583	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.46583744, 'bg2': 0.31056689, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 408.15	| T -- 1040	| Pi -- 0.53500109	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 3.986	|obs_unit -- 	| deviation -- 0.3986	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
22	|RCM__TMB_100_PHI_1_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20639583	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.46583744, 'bg2': 0.31056689, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 423.15	| T -- 921	| Pi -- 0.55000232	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 118.2	|obs_unit -- 	| deviation -- 11.82	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
23	|RCM__TMB_100_PHI_1_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20639583	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.46583744, 'bg2': 0.31056689, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 363.15	| T -- 1004	| Pi -- 0.44999741	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 9.323	|obs_unit -- 	| deviation -- 0.9323	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
24	|RCM__TMB_100_PHI_1_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20639583	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.46583744, 'bg2': 0.31056689, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 378.15	| T -- 918	| Pi -- 0.44999741	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 116.9	|obs_unit -- 	| deviation -- 11.69	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
25	|RCM__TMB_100_PHI_1_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20639583	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.46583744, 'bg2': 0.31056689, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 393.15	| T -- 1036	| Pi -- 0.46632112	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 5.761	|obs_unit -- 	| deviation -- 0.5761	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
26	|RCM__TMB_100_PHI_1_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20639583	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.46583744, 'bg2': 0.31056689, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 408.15	| T -- 971	| Pi -- 0.47000234	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 27.8	|obs_unit -- 	| deviation -- 2.78	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
27	|RCM__TMB_100_PHI_1_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20639583	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.46583744, 'bg2': 0.31056689, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 408.15	| T -- 893	| Pi -- 0.47000234	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 186.1	|obs_unit -- 	| deviation -- 18.61	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
28	|RCM__TMB_100_PHI_1_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20639583	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.46583744, 'bg2': 0.31056689, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 423.15	| T -- 947	| Pi -- 0.46899568	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 60.36	|obs_unit -- 	| deviation -- 6.036	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
29	|RCM__TMB_100_PHI_0_5_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 363.15	| T -- 949	| Pi -- 1.8599946	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 7.604	|obs_unit -- 	| deviation -- 0.7604	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
30	|RCM__TMB_100_PHI_0_5_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 378.15	| T -- 974	| Pi -- 1.8540039	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 3.867	|obs_unit -- 	| deviation -- 0.3867	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
31	|RCM__TMB_100_PHI_0_5_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 378.15	| T -- 828	| Pi -- 1.3797184	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 86.64	|obs_unit -- 	| deviation -- 8.664	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
32	|RCM__TMB_100_PHI_0_5_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 378.15	| T -- 856	| Pi -- 1.3797184	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 53.71	|obs_unit -- 	| deviation -- 5.371	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
33	|RCM__TMB_100_PHI_0_5_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 393.15	| T -- 878	| Pi -- 1.3797184	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 28.7	|obs_unit -- 	| deviation -- 2.87	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
34	|RCM__TMB_100_PHI_0_5_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 378.15	| T -- 907	| Pi -- 1.5099922	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 14.24	|obs_unit -- 	| deviation -- 1.424	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
35	|RCM__TMB_100_PHI_0_5_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 393.15	| T -- 710	| Pi -- 1.5198614	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 158.2	|obs_unit -- 	| deviation -- 15.82	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
36	|RCM__TMB_100_PHI_0_5_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 408.15	| T -- 750	| Pi -- 1.5395999	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 121.9	|obs_unit -- 	| deviation -- 12.19	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
37	|RCM__TMB_100_PHI_0_5_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 423.15	| T -- 779	| Pi -- 1.5395999	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 110.2	|obs_unit -- 	| deviation -- 11.02	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
38	|RCM__TMB_100_PHI_0_5_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 378.15	| T -- 677	| Pi -- 1.7596837	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 197.3	|obs_unit -- 	| deviation -- 19.73	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
39	|RCM__TMB_100_PHI_0_5_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 403.15	| T -- 697	| Pi -- 1.7705399	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 128.4	|obs_unit -- 	| deviation -- 12.84	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
40	|RCM__TMB_100_PHI_0_5_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 423.15	| T -- 721	| Pi -- 1.7261283	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 112.5	|obs_unit -- 	| deviation -- 11.25	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
41	|RCM__TMB_100_PHI_1_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20677008	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.0389, 'bg2': 0.7371168, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 363.15	| T -- 697	| Pi -- 1.6503079	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 91.66	|obs_unit -- 	| deviation -- 9.166	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
42	|RCM__TMB_100_PHI_1_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20677008	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.0389, 'bg2': 0.7371168, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 378.15	| T -- 720	| Pi -- 1.6503079	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 78.93	|obs_unit -- 	| deviation -- 7.893	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
43	|RCM__TMB_100_PHI_1_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20677008	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.0389, 'bg2': 0.7371168, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 393.15	| T -- 747	| Pi -- 1.690002	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 73.27	|obs_unit -- 	| deviation -- 7.327	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
44	|RCM__TMB_100_PHI_1_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20677008	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.0389, 'bg2': 0.7371168, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 408.15	| T -- 769	| Pi -- 1.6879985	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 71.54	|obs_unit -- 	| deviation -- 7.154	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
45	|RCM__TMB_100_PHI_1_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20677008	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.0389, 'bg2': 0.7371168, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 423.15	| T -- 790	| Pi -- 1.702989	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 67.56	|obs_unit -- 	| deviation -- 6.756	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
46	|RCM__TMB_100_PHI_1_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20677008	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.0389, 'bg2': 0.7371168, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 378.15	| T -- 815	| Pi -- 1.5660001	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 52.64	|obs_unit -- 	| deviation -- 5.264	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
47	|RCM__TMB_100_PHI_1_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20677008	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.0389, 'bg2': 0.7371168, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 393.15	| T -- 838	| Pi -- 1.6499971	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 41.82	|obs_unit -- 	| deviation -- 4.182	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
48	|RCM__TMB_100_PHI_1_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20677008	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.0389, 'bg2': 0.7371168, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 408.15	| T -- 868	| Pi -- 1.6050033	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 29.39	|obs_unit -- 	| deviation -- 2.939	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
49	|RCM__TMB_100_PHI_1_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20677008	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.0389, 'bg2': 0.7371168, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 423.15	| T -- 897	| Pi -- 1.6499971	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 16.86	|obs_unit -- 	| deviation -- 1.686	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
50	|RCM__TMB_100_PHI_1_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20677008	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.0389, 'bg2': 0.7371168, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 363.15	| T -- 925	| Pi -- 1.3500021	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 7.208	|obs_unit -- 	| deviation -- 0.7208	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
51	|RCM__TMB_100_PHI_1_P_30	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.0172, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20677008	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.0389, 'bg2': 0.7371168, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 378.15	| T -- 949	| Pi -- 1.3500021	| P -- 30	| flow_rate -- N/A	|Phi -- N/A	| observed -- 5.78	|obs_unit -- 	| deviation -- 0.578	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
