1	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 684.32	| P -- 30.31	| flow_rate -- N/A	|Phi -- N/A	| observed -- 120978	|obs_unit -- 	| deviation -- 60489.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
2	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 698.71	| P -- 30.24	| flow_rate -- N/A	|Phi -- N/A	| observed -- 85520	|obs_unit -- 	| deviation -- 42760.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
3	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 719.03	| P -- 29.78	| flow_rate -- N/A	|Phi -- N/A	| observed -- 54544	|obs_unit -- 	| deviation -- 27272.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
4	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 718.84	| P -- 29.65	| flow_rate -- N/A	|Phi -- N/A	| observed -- 54776	|obs_unit -- 	| deviation -- 27388.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
5	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 740.79	| P -- 29.62	| flow_rate -- N/A	|Phi -- N/A	| observed -- 46404	|obs_unit -- 	| deviation -- 23202.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
6	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 736.66	| P -- 28.85	| flow_rate -- N/A	|Phi -- N/A	| observed -- 46760	|obs_unit -- 	| deviation -- 23380.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
7	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 762.34	| P -- 29.4	| flow_rate -- N/A	|Phi -- N/A	| observed -- 47990	|obs_unit -- 	| deviation -- 23995.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
8	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 794.22	| P -- 29.65	| flow_rate -- N/A	|Phi -- N/A	| observed -- 58972	|obs_unit -- 	| deviation -- 29486.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
9	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 793.21	| P -- 29.48	| flow_rate -- N/A	|Phi -- N/A	| observed -- 63808	|obs_unit -- 	| deviation -- 31904.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
10	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 806.6	| P -- 30.03	| flow_rate -- N/A	|Phi -- N/A	| observed -- 54024	|obs_unit -- 	| deviation -- 27012.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
11	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 808.6	| P -- 30.23	| flow_rate -- N/A	|Phi -- N/A	| observed -- 51364	|obs_unit -- 	| deviation -- 25682.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
12	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 817.78	| P -- 29.05	| flow_rate -- N/A	|Phi -- N/A	| observed -- 53744	|obs_unit -- 	| deviation -- 26872.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
13	|ing_Ethyl_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 820.07	| P -- 29.45	| flow_rate -- N/A	|Phi -- N/A	| observed -- 52008	|obs_unit -- 	| deviation -- 26004.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
14	|ing_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 832.82	| P -- 30.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 57700	|obs_unit -- 	| deviation -- 5770.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
15	|ing_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 845.45	| P -- 30.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 37400	|obs_unit -- 	| deviation -- 3740.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
16	|ing_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 858.77	| P -- 30.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 21600	|obs_unit -- 	| deviation -- 2160.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
17	|ing_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 869.05	| P -- 30.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 12600	|obs_unit -- 	| deviation -- 1260.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
18	|ing_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 881.23	| P -- 30.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 10000	|obs_unit -- 	| deviation -- 1000.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
19	|ing_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 895.8	| P -- 30.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 5700	|obs_unit -- 	| deviation -- 570.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
20	|ing_Butanoate	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.0313}	| Oxidizer -- x->O2 = 0.2035	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.7652}	|T -- 908.54	| P -- 30.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 4400	|obs_unit -- 	| deviation -- 440.0	|data_weight -- 20	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
1	|fls_1a	| target -- Fls	| simulation -- UnstretchedPremixed	| measurnment_type -- velocity	|Ignition_mode -- N/A	|Flame_type -- Unstretched	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 1}	| Oxidizer -- x->O2 = 1	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 3.76}	|T -- 403	| P -- 1	| flow_rate -- N/A	|Phi -- 0.699767981438515	| observed -- 37.4785100286533	|obs_unit -- 	| deviation -- 3.74785100286533	|data_weight -- 9	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'cm/s'}
2	|fls_1a	| target -- Fls	| simulation -- UnstretchedPremixed	| measurnment_type -- velocity	|Ignition_mode -- N/A	|Flame_type -- Unstretched	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 1}	| Oxidizer -- x->O2 = 1	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 3.76}	|T -- 403	| P -- 1	| flow_rate -- N/A	|Phi -- 0.79907192575406	| observed -- 47.2779369627507	|obs_unit -- 	| deviation -- 4.72779369627507	|data_weight -- 9	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'cm/s'}
3	|fls_1a	| target -- Fls	| simulation -- UnstretchedPremixed	| measurnment_type -- velocity	|Ignition_mode -- N/A	|Flame_type -- Unstretched	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 1}	| Oxidizer -- x->O2 = 1	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 3.76}	|T -- 403	| P -- 1	| flow_rate -- N/A	|Phi -- 0.899767981438515	| observed -- 54.1547277936963	|obs_unit -- 	| deviation -- 5.41547277936963	|data_weight -- 9	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'cm/s'}
4	|fls_1a	| target -- Fls	| simulation -- UnstretchedPremixed	| measurnment_type -- velocity	|Ignition_mode -- N/A	|Flame_type -- Unstretched	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 1}	| Oxidizer -- x->O2 = 1	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 3.76}	|T -- 403	| P -- 1	| flow_rate -- N/A	|Phi -- 0.99907192575406	| observed -- 57.8223495702006	|obs_unit -- 	| deviation -- 5.78223495702006	|data_weight -- 9	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'cm/s'}
5	|fls_1a	| target -- Fls	| simulation -- UnstretchedPremixed	| measurnment_type -- velocity	|Ignition_mode -- N/A	|Flame_type -- Unstretched	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 1}	| Oxidizer -- x->O2 = 1	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 3.76}	|T -- 403	| P -- 1	| flow_rate -- N/A	|Phi -- 1.09930394431555	| observed -- 58.6819484240688	|obs_unit -- 	| deviation -- 5.86819484240688	|data_weight -- 9	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'cm/s'}
6	|fls_1a	| target -- Fls	| simulation -- UnstretchedPremixed	| measurnment_type -- velocity	|Ignition_mode -- N/A	|Flame_type -- Unstretched	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 1}	| Oxidizer -- x->O2 = 1	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 3.76}	|T -- 403	| P -- 1	| flow_rate -- N/A	|Phi -- 1.20046403712297	| observed -- 54.0974212034384	|obs_unit -- 	| deviation -- 5.40974212034384	|data_weight -- 9	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'cm/s'}
7	|fls_1a	| target -- Fls	| simulation -- UnstretchedPremixed	| measurnment_type -- velocity	|Ignition_mode -- N/A	|Flame_type -- Unstretched	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 1}	| Oxidizer -- x->O2 = 1	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 3.76}	|T -- 403	| P -- 1	| flow_rate -- N/A	|Phi -- 1.30069605568445	| observed -- 45.9598853868195	|obs_unit -- 	| deviation -- 4.59598853868195	|data_weight -- 9	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'cm/s'}
8	|fls_1a	| target -- Fls	| simulation -- UnstretchedPremixed	| measurnment_type -- velocity	|Ignition_mode -- N/A	|Flame_type -- Unstretched	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 1}	| Oxidizer -- x->O2 = 1	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 3.76}	|T -- 403	| P -- 1	| flow_rate -- N/A	|Phi -- 1.40046403712297	| observed -- 36.5042979942693	|obs_unit -- 	| deviation -- 3.65042979942693	|data_weight -- 9	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'cm/s'}
9	|fls_1a	| target -- Fls	| simulation -- UnstretchedPremixed	| measurnment_type -- velocity	|Ignition_mode -- N/A	|Flame_type -- Unstretched	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 1}	| Oxidizer -- x->O2 = 1	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 3.76}	|T -- 403	| P -- 1	| flow_rate -- N/A	|Phi -- 1.50069605568445	| observed -- 25.5014326647565	|obs_unit -- 	| deviation -- 2.55014326647565	|data_weight -- 9	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'cm/s'}
1	|JSR_BUTANOATE_phi_1_JSR_MB	| target -- JSR	| simulation -- Homogeneous reactor	| measurnment_type -- species concentration	|Ignition_mode -- no ignition	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.075}	| Oxidizer -- x->O2 = 0.65	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 99.275}	|T -- 929.483282674772	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| Residence_time -- 0.07	| observed -- 0.000609189189189	|obs_unit -- 	| deviation -- 5.78378378378378e-05	|data_weight -- 9	|units -- {'conc': 'mol', 'res': 's', 'P': 'atm', 'T': 'K', 'observed': 'ms'}
2	|JSR_BUTANOATE_phi_1_JSR_MB	| target -- JSR	| simulation -- Homogeneous reactor	| measurnment_type -- species concentration	|Ignition_mode -- no ignition	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.075}	| Oxidizer -- x->O2 = 0.65	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 99.275}	|T -- 960.030395136778	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| Residence_time -- 0.07	| observed -- 0.000609189189189	|obs_unit -- 	| deviation -- 6.16216216216216e-05	|data_weight -- 9	|units -- {'conc': 'mol', 'res': 's', 'P': 'atm', 'T': 'K', 'observed': 'ms'}
3	|JSR_BUTANOATE_phi_1_JSR_MB	| target -- JSR	| simulation -- Homogeneous reactor	| measurnment_type -- species concentration	|Ignition_mode -- no ignition	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.075}	| Oxidizer -- x->O2 = 0.65	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 99.275}	|T -- 989.665653495441	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| Residence_time -- 0.07	| observed -- 0.000574594594595	|obs_unit -- 	| deviation -- 5.7837837837838e-05	|data_weight -- 9	|units -- {'conc': 'mol', 'res': 's', 'P': 'atm', 'T': 'K', 'observed': 'ms'}
4	|JSR_BUTANOATE_phi_1_JSR_MB	| target -- JSR	| simulation -- Homogeneous reactor	| measurnment_type -- species concentration	|Ignition_mode -- no ignition	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.075}	| Oxidizer -- x->O2 = 0.65	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 99.275}	|T -- 1020.36474164134	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| Residence_time -- 0.07	| observed -- 0.000533513513514	|obs_unit -- 	| deviation -- 5.24324324324325e-05	|data_weight -- 9	|units -- {'conc': 'mol', 'res': 's', 'P': 'atm', 'T': 'K', 'observed': 'ms'}
5	|JSR_BUTANOATE_phi_1_JSR_MB	| target -- JSR	| simulation -- Homogeneous reactor	| measurnment_type -- species concentration	|Ignition_mode -- no ignition	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.075}	| Oxidizer -- x->O2 = 0.65	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 99.275}	|T -- 1049.08814589666	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| Residence_time -- 0.07	| observed -- 0.000467027027027	|obs_unit -- 	| deviation -- 4.48648648648648e-05	|data_weight -- 9	|units -- {'conc': 'mol', 'res': 's', 'P': 'atm', 'T': 'K', 'observed': 'ms'}
6	|JSR_BUTANOATE_phi_1_JSR_MB	| target -- JSR	| simulation -- Homogeneous reactor	| measurnment_type -- species concentration	|Ignition_mode -- no ignition	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.075}	| Oxidizer -- x->O2 = 0.65	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 99.275}	|T -- 1079.48328267477	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| Residence_time -- 0.07	| observed -- 0.000378378378378	|obs_unit -- 	| deviation -- 3.72972972972971e-05	|data_weight -- 9	|units -- {'conc': 'mol', 'res': 's', 'P': 'atm', 'T': 'K', 'observed': 'ms'}
7	|JSR_BUTANOATE_phi_1_JSR_MB	| target -- JSR	| simulation -- Homogeneous reactor	| measurnment_type -- species concentration	|Ignition_mode -- no ignition	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.075}	| Oxidizer -- x->O2 = 0.65	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 99.275}	|T -- 1110.03039513678	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| Residence_time -- 0.07	| observed -- 0.000257297297297	|obs_unit -- 	| deviation -- 2.64864864864863e-05	|data_weight -- 9	|units -- {'conc': 'mol', 'res': 's', 'P': 'atm', 'T': 'K', 'observed': 'ms'}
8	|JSR_BUTANOATE_phi_1_JSR_MB	| target -- JSR	| simulation -- Homogeneous reactor	| measurnment_type -- species concentration	|Ignition_mode -- no ignition	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.075}	| Oxidizer -- x->O2 = 0.65	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 99.275}	|T -- 1141.48936170213	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| Residence_time -- 0.07	| observed -- 9.24324324324325e-05	|obs_unit -- 	| deviation -- 1.94594594594594e-05	|data_weight -- 9	|units -- {'conc': 'mol', 'res': 's', 'P': 'atm', 'T': 'K', 'observed': 'ms'}
9	|JSR_BUTANOATE_phi_1_JSR_MB	| target -- JSR	| simulation -- Homogeneous reactor	| measurnment_type -- species concentration	|Ignition_mode -- no ignition	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.075}	| Oxidizer -- x->O2 = 0.65	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 99.275}	|T -- 1172.18844984802	| P -- 1	| flow_rate -- N/A	|Phi -- N/A	| Residence_time -- 0.07	| observed -- 9.18918918918932e-06	|obs_unit -- 	| deviation -- 1.56756756756755e-05	|data_weight -- 9	|units -- {'conc': 'mol', 'res': 's', 'P': 'atm', 'T': 'K', 'observed': 'ms'}
1	|RCM_BUTANOATE_phi_1_RCM_phi_1_mix_5	| target -- RCM	| simulation -- Homogeneous reactor	| measurnment_type -- timeDelay	|Ignition_mode -- rapid_compression_machine	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.02}	| Oxidizer -- x->O2 = 0.130031948882	| Bath_gas -- x->{'bg1': 'AR', 'bg2': 'N2'} = {'bg1': 0.130031948882, 'bg2': 0.2549904153354}	| Ti -- 333	| T -- 935	| Pi -- 430	| P -- 15	| flow_rate -- N/A	|Phi -- N/A	| observed -- 57.6	|obs_unit -- 	| deviation -- 5.76	|data_weight -- 3	|units -- {'conc': 'mol', 'Pi': 'mbar', 'P': 'bar', 'Ti': 'K', 'T': 'K', 'observed': 'ms'}
2	|RCM_BUTANOATE_phi_1_RCM_phi_1_mix_5	| target -- RCM	| simulation -- Homogeneous reactor	| measurnment_type -- timeDelay	|Ignition_mode -- rapid_compression_machine	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.02}	| Oxidizer -- x->O2 = 0.130031948882	| Bath_gas -- x->{'bg1': 'AR', 'bg2': 'N2'} = {'bg1': 0.130031948882, 'bg2': 0.2549904153354}	| Ti -- 343	| T -- 958	| Pi -- 430	| P -- 15	| flow_rate -- N/A	|Phi -- N/A	| observed -- 29.3	|obs_unit -- 	| deviation -- 2.93	|data_weight -- 3	|units -- {'conc': 'mol', 'Pi': 'mbar', 'P': 'bar', 'Ti': 'K', 'T': 'K', 'observed': 'ms'}
3	|RCM_BUTANOATE_phi_1_RCM_phi_1_mix_5	| target -- RCM	| simulation -- Homogeneous reactor	| measurnment_type -- timeDelay	|Ignition_mode -- rapid_compression_machine	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'MB-C5H10O2'} = {'a': 0.02}	| Oxidizer -- x->O2 = 0.130031948882	| Bath_gas -- x->{'bg1': 'AR', 'bg2': 'N2'} = {'bg1': 0.130031948882, 'bg2': 0.2549904153354}	| Ti -- 353	| T -- 982	| Pi -- 430	| P -- 15	| flow_rate -- N/A	|Phi -- N/A	| observed -- 17.5	|obs_unit -- 	| deviation -- 1.75	|data_weight -- 3	|units -- {'conc': 'mol', 'Pi': 'mbar', 'P': 'bar', 'Ti': 'K', 'T': 'K', 'observed': 'ms'}
