1	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 597.065625220154	| P -- 14.543846544	| flow_rate -- N/A	|Phi -- N/A	| observed -- 140850.0	|obs_unit -- 	| deviation -- 14085.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
10	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 660.736369636868	| P -- 14.93350128	| flow_rate -- N/A	|Phi -- N/A	| observed -- 27700.0	|obs_unit -- 	| deviation -- 2770.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
1	|ing_OME3_HTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0, 'bg2': 0.77633}	|T -- 1063.56429829712	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 139.483949827687	|obs_unit -- 	| deviation -- 13.9483949827687	|data_weight -- 10	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
3	|ing_OME3_HTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0, 'bg2': 0.77633}	|T -- 961.895910780669	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 334.377451823238	|obs_unit -- 	| deviation -- 33.4377451823238	|data_weight -- 10	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
