1	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 597.065625220154	| P -- 14.543846544	| flow_rate -- N/A	|Phi -- N/A	| observed -- 140850.0	|obs_unit -- 	| deviation -- 14085.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
2	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 599.392523184718	| P -- 14.61957878	| flow_rate -- N/A	|Phi -- N/A	| observed -- 122200.0	|obs_unit -- 	| deviation -- 12220.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
3	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 600.068717814693	| P -- 14.60004494	| flow_rate -- N/A	|Phi -- N/A	| observed -- 116900.0	|obs_unit -- 	| deviation -- 11690.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
4	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 601.252131968181	| P -- 14.64243194	| flow_rate -- N/A	|Phi -- N/A	| observed -- 113400.0	|obs_unit -- 	| deviation -- 11340.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
5	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 623.121490922053	| P -- 14.6042319	| flow_rate -- N/A	|Phi -- N/A	| observed -- 73700.0	|obs_unit -- 	| deviation -- 7370.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
6	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 624.834720956045	| P -- 14.71836238	| flow_rate -- N/A	|Phi -- N/A	| observed -- 66650.0	|obs_unit -- 	| deviation -- 6665.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
7	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 626.905939932534	| P -- 14.99288288	| flow_rate -- N/A	|Phi -- N/A	| observed -- 64400.0	|obs_unit -- 	| deviation -- 6440.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
8	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 627.128718376706	| P -- 14.87275454	| flow_rate -- N/A	|Phi -- N/A	| observed -- 62300.0	|obs_unit -- 	| deviation -- 6230.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
9	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 659.398529949768	| P -- 14.7961475	| flow_rate -- N/A	|Phi -- N/A	| observed -- 29250.0	|obs_unit -- 	| deviation -- 2925.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
10	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 660.736369636868	| P -- 14.93350128	| flow_rate -- N/A	|Phi -- N/A	| observed -- 27700.0	|obs_unit -- 	| deviation -- 2770.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
11	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 661.515335240741	| P -- 14.91237146	| flow_rate -- N/A	|Phi -- N/A	| observed -- 28200.0	|obs_unit -- 	| deviation -- 2820.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
12	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 694.578785376706	| P -- 15.01270726	| flow_rate -- N/A	|Phi -- N/A	| observed -- 10200.0	|obs_unit -- 	| deviation -- 1020.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
13	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 695.980732181493	| P -- 15.16970234	| flow_rate -- N/A	|Phi -- N/A	| observed -- 9750.0	|obs_unit -- 	| deviation -- 975.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
14	|ing_OME3_LTC_phi0_5_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.77633, 'bg2': 0.0}	|T -- 696.013715041707	| P -- 15.08840288	| flow_rate -- N/A	|Phi -- N/A	| observed -- 9750.0	|obs_unit -- 	| deviation -- 975.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
15	|ing_OME3_LTC_phi2_0_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.19634	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 559.930250563952	| P -- 14.404876	| flow_rate -- N/A	|Phi -- N/A	| observed -- 184450.0	|obs_unit -- 	| deviation -- 18445.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
16	|ing_OME3_LTC_phi2_0_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.19634	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 560.749348384312	| P -- 14.521508	| flow_rate -- N/A	|Phi -- N/A	| observed -- 168400.0	|obs_unit -- 	| deviation -- 16840.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
17	|ing_OME3_LTC_phi2_0_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.19634	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 573.898746494422	| P -- 14.5607	| flow_rate -- N/A	|Phi -- N/A	| observed -- 125050.0	|obs_unit -- 	| deviation -- 12505.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
18	|ing_OME3_LTC_phi2_0_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.19634	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 575.280368963156	| P -- 14.5942376	| flow_rate -- N/A	|Phi -- N/A	| observed -- 104800.0	|obs_unit -- 	| deviation -- 10480.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
19	|ing_OME3_LTC_phi2_0_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.19634	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 575.930595091771	| P -- 14.2138	| flow_rate -- N/A	|Phi -- N/A	| observed -- 94600.0	|obs_unit -- 	| deviation -- 9460.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
20	|ing_OME3_LTC_phi2_0_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.19634	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 579.465520325683	| P -- 14.3447	| flow_rate -- N/A	|Phi -- N/A	| observed -- 91850.0	|obs_unit -- 	| deviation -- 9185.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
21	|ing_OME3_LTC_phi2_0_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.19634	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 579.564537817275	| P -- 14.071976	| flow_rate -- N/A	|Phi -- N/A	| observed -- 54500.0	|obs_unit -- 	| deviation -- 5450.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
22	|ing_OME3_LTC_phi2_0_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.19634	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 591.781515902579	| P -- 14.9689	| flow_rate -- N/A	|Phi -- N/A	| observed -- 42900.0	|obs_unit -- 	| deviation -- 4290.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
23	|ing_OME3_LTC_phi2_0_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.19634	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 594.850348799398	| P -- 14.9895	| flow_rate -- N/A	|Phi -- N/A	| observed -- 47200.0	|obs_unit -- 	| deviation -- 4720.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
24	|ing_OME3_LTC_phi2_0_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.19634	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 599.900367999202	| P -- 14.1074	| flow_rate -- N/A	|Phi -- N/A	| observed -- 63150.0	|obs_unit -- 	| deviation -- 6315.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
25	|ing_OME3_LTC_phi2_0_p15	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.19634	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 613.532156616643	| P -- 14.874	| flow_rate -- N/A	|Phi -- N/A	| observed -- 26100.0	|obs_unit -- 	| deviation -- 2610.0	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
26	|ing_OME3_LTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.77633}	|T -- 909.262048192771	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 385.634555332982	|obs_unit -- 	| deviation -- 38.5634555332982	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
27	|ing_OME3_LTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.77633}	|T -- 884.831460674157	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 461.607536191323	|obs_unit -- 	| deviation -- 46.1607536191323	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
28	|ing_OME3_LTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.77633}	|T -- 862.089481199429	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 458.754029864875	|obs_unit -- 	| deviation -- 45.8754029864875	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
29	|ing_OME3_LTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.77633}	|T -- 813.313875168388	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 673.822922485806	|obs_unit -- 	| deviation -- 67.3822922485806	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
30	|ing_OME3_LTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.77633}	|T -- 800.022084805654	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 703.714935339315	|obs_unit -- 	| deviation -- 70.3714935339315	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
31	|ing_OME3_LTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.77633}	|T -- 781.384814495254	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 847.591737647264	|obs_unit -- 	| deviation -- 84.7591737647264	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
32	|ing_OME3_LTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.77633}	|T -- 757.528230865747	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1199.48442739307	|obs_unit -- 	| deviation -- 119.948442739307	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
33	|ing_OME3_LTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 909.423828125	| P -- 10.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 381.199070024967	|obs_unit -- 	| deviation -- 38.1199070024967	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
34	|ing_OME3_LTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 884.377967711301	| P -- 10.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 462.297416002142	|obs_unit -- 	| deviation -- 46.2297416002142	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
35	|ing_OME3_LTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 861.470860314524	| P -- 10.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 462.297416002142	|obs_unit -- 	| deviation -- 46.2297416002142	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
36	|ing_OME3_LTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 812.60907504363	| P -- 10.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 671.777000479203	|obs_unit -- 	| deviation -- 67.1777000479203	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
37	|ing_OME3_LTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 800.04295532646	| P -- 10.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 704.964973264866	|obs_unit -- 	| deviation -- 70.4964973264866	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
38	|ing_OME3_LTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 780.922431865828	| P -- 10.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 844.698203796373	|obs_unit -- 	| deviation -- 84.4698203796373	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
39	|ing_OME3_LTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 757.113821138211	| P -- 10.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1183.85477263435	|obs_unit -- 	| deviation -- 118.385477263435	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
40	|ing_OME3_LTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 900.628626692456	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 220.258124647582	|obs_unit -- 	| deviation -- 22.0258124647582	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
41	|ing_OME3_LTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 884.79809976247	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 158.107648510359	|obs_unit -- 	| deviation -- 15.8107648510359	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
42	|ing_OME3_LTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 847.361237488626	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 201.217116650125	|obs_unit -- 	| deviation -- 20.1217116650125	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
43	|ing_OME3_LTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 806.277056277056	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 283.713225453251	|obs_unit -- 	| deviation -- 28.3713225453251	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
44	|ing_OME3_LTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 787.193575655114	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 295.940353668625	|obs_unit -- 	| deviation -- 29.5940353668625	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
45	|ing_OME3_LTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 751.614205004036	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 409.793858120922	|obs_unit -- 	| deviation -- 40.9793858120922	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
46	|ing_OME3_LTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 740.85123309467	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 804.931942970874	|obs_unit -- 	| deviation -- 80.4931942970874	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
47	|ing_OME3_LTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 729.819749216301	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 947.195858703538	|obs_unit -- 	| deviation -- 94.7195858703538	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
48	|ing_OME3_LTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.76319}	|T -- 704.158790170132	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1205.45730321692	|obs_unit -- 	| deviation -- 120.545730321692	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
49	|ing_OME3_LTC_phi2_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.196335	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 826.67731629393	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 98.5635500623392	|obs_unit -- 	| deviation -- 9.85635500623392	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
50	|ing_OME3_LTC_phi2_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.196335	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 819.199457259159	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 110.202210315308	|obs_unit -- 	| deviation -- 11.0202210315308	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
51	|ing_OME3_LTC_phi2_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.196335	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 757.528230865747	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 330.256206028258	|obs_unit -- 	| deviation -- 33.0256206028258	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
52	|ing_OME3_LTC_phi2_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.065445}	| Oxidizer -- x->O2 = 0.196335	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0.0, 'bg2': 0.73822}	|T -- 719.320889594917	| P -- 20.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 645.200645980872	|obs_unit -- 	| deviation -- 64.5200645980872	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
