1	|ing_OME3_HTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0, 'bg2': 0.77633}	|T -- 1063.56429829712	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 139.483949827687	|obs_unit -- 	| deviation -- 13.9483949827687	|data_weight -- 10	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
2	|ing_OME3_HTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0, 'bg2': 0.77633}	|T -- 1020.42253521127	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 229.067825601182	|obs_unit -- 	| deviation -- 22.9067825601182	|data_weight -- 10	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
3	|ing_OME3_HTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.017206}	| Oxidizer -- x->O2 = 0.20647	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0, 'bg2': 0.77633}	|T -- 961.895910780669	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 334.377451823238	|obs_unit -- 	| deviation -- 33.4377451823238	|data_weight -- 10	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
4	|ing_OME3_HTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0, 'bg2': 0.76319}	|T -- 1063.6778983438	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 137.63961700864	|obs_unit -- 	| deviation -- 13.763961700864	|data_weight -- 10	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
5	|ing_OME3_HTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0, 'bg2': 0.76319}	|T -- 1019.98904709748	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 229.750541951151	|obs_unit -- 	| deviation -- 22.9750541951151	|data_weight -- 10	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
6	|ing_OME3_HTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0, 'bg2': 0.76319}	|T -- 962.035123966942	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 337.905928543877	|obs_unit -- 	| deviation -- 33.7905928543877	|data_weight -- 10	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
7	|ing_OME3_HTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0, 'bg2': 0.76319}	|T -- 1031.85595567867	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 116.263937258419	|obs_unit -- 	| deviation -- 11.6263937258419	|data_weight -- 10	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
8	|ing_OME3_HTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0, 'bg2': 0.76319}	|T -- 990.16480595428	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 144.439462582771	|obs_unit -- 	| deviation -- 14.4439462582771	|data_weight -- 10	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
9	|ing_OME3_HTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0, 'bg2': 0.76319}	|T -- 970.557582073997	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 168.946302384266	|obs_unit -- 	| deviation -- 16.8946302384266	|data_weight -- 10	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
10	|ing_OME3_HTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'OME3'} = {'a': 0.03383}	| Oxidizer -- x->O2 = 0.20298	| Bath_gas -- x->{'bg1': 'CO2', 'bg2': 'N2'} = {'bg1': 0, 'bg2': 0.76319}	|T -- 952.19836400818	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 154.341129930415	|obs_unit -- 	| deviation -- 15.4341129930415	|data_weight -- 10	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
