132	|ign_phi2_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1049.68142168852	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 187.58	|obs_unit -- 	| deviation -- 18.758	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
