82	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1293.30970887598	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 76.23	|obs_unit -- 	| deviation -- 7.623	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
83	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1269.55108673573	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 121.24	|obs_unit -- 	| deviation -- 12.124	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
84	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1184.02045987355	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 266.6	|obs_unit -- 	| deviation -- 26.66	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
85	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1172.23674493301	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 290.99	|obs_unit -- 	| deviation -- 29.099	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
86	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1127.26862811408	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 492.06	|obs_unit -- 	| deviation -- 49.206	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
88	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1093.37415263503	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 803.42	|obs_unit -- 	| deviation -- 80.342	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
90	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1063.75057176593	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1000.0	|obs_unit -- 	| deviation -- 100.0	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
115	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1331.46927634645	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 67.32	|obs_unit -- 	| deviation -- 6.732	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
116	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1231.54226037266	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 178.56	|obs_unit -- 	| deviation -- 17.856	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
117	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1207.43781695243	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 227.87	|obs_unit -- 	| deviation -- 22.787	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
118	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1133.77399349214	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 465.35	|obs_unit -- 	| deviation -- 46.535	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
119	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1123.86068622934	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 558.8	|obs_unit -- 	| deviation -- 55.88	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
108	|ign_phi1_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1137.07430780602	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 91.62	|obs_unit -- 	| deviation -- 9.162	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
109	|ign_phi1_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1060	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 259.69	|obs_unit -- 	| deviation -- 25.969	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
132	|ign_phi2_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1050	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 187.58	|obs_unit -- 	| deviation -- 18.758	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
