82	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1293.30970887598	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 76.23	|obs_unit -- 	| deviation -- 7.623	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
83	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1269.55108673573	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 121.24	|obs_unit -- 	| deviation -- 12.124	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
84	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1184.02045987355	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 266.6	|obs_unit -- 	| deviation -- 26.66	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
85	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1172.23674493301	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 290.99	|obs_unit -- 	| deviation -- 29.099	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
86	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1127.26862811408	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 492.06	|obs_unit -- 	| deviation -- 49.206	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
88	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1093.37415263503	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 803.42	|obs_unit -- 	| deviation -- 80.342	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
90	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1063.75057176593	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1000.0	|obs_unit -- 	| deviation -- 100.0	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
115	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1331.46927634645	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 67.32	|obs_unit -- 	| deviation -- 6.732	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
116	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1231.54226037266	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 178.56	|obs_unit -- 	| deviation -- 17.856	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
117	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1207.43781695243	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 227.87	|obs_unit -- 	| deviation -- 22.787	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
118	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1133.77399349214	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 465.35	|obs_unit -- 	| deviation -- 46.535	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
119	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1123.86068622934	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 558.8	|obs_unit -- 	| deviation -- 55.88	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
108	|ign_phi1_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1137.07430780602	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 91.62	|obs_unit -- 	| deviation -- 9.162	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
109	|ign_phi1_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1060	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 259.69	|obs_unit -- 	| deviation -- 25.969	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
132	|ign_phi2_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1050	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 187.58	|obs_unit -- 	| deviation -- 18.758	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
104	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 703.605980650836	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 4166.5	|obs_unit -- 	| deviation -- 416.65	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
105	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 698.450836045651	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 5231.56	|obs_unit -- 	| deviation -- 523.156	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
106	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 679.190947743049	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 11107.78	|obs_unit -- 	| deviation -- 1110.778	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
107	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 665.907532080095	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 13467.21	|obs_unit -- 	| deviation -- 1346.721	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
99	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 839.47549571028	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 3376.89	|obs_unit -- 	| deviation -- 337.689	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
100	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 831.753002628339	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 3148.46	|obs_unit -- 	| deviation -- 314.846	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
101	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 786.577835809743	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 3148.46	|obs_unit -- 	| deviation -- 314.846	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
102	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 744.967742896733	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 3121.02	|obs_unit -- 	| deviation -- 312.102	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
103	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 739.234891886897	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 2961.3	|obs_unit -- 	| deviation -- 296.13	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
91	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1021.82620779858	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1647.14	|obs_unit -- 	| deviation -- 164.714	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
110	|ign_phi1_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 979.738997531058	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 561.11	|obs_unit -- 	| deviation -- 56.111	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
111	|ign_phi1_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 942.427126822418	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 586.22	|obs_unit -- 	| deviation -- 58.622	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
112	|ign_phi1_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 916.556679865083	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 566.05	|obs_unit -- 	| deviation -- 56.605	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
113	|ign_phi1_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 868.900319755318	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 402.31	|obs_unit -- 	| deviation -- 40.231	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
114	|ign_phi1_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 812.301493822447	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 487.77	|obs_unit -- 	| deviation -- 48.777	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
131	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 689.384173118154	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 7233.85	|obs_unit -- 	| deviation -- 723.385	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
130	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 719.279569583106	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 5624.61	|obs_unit -- 	| deviation -- 562.461	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
129	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 751.891005879788	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 2591.44	|obs_unit -- 	| deviation -- 259.144	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
127	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 833.555614830622	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 2107.98	|obs_unit -- 	| deviation -- 210.798	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
133	|ign_phi2_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 926.148887695186	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 312.94	|obs_unit -- 	| deviation -- 31.294	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
134	|ign_phi2_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 901.258156386315	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 269.64	|obs_unit -- 	| deviation -- 26.964	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
135	|ign_phi2_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 885.222102225448	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 238.54	|obs_unit -- 	| deviation -- 23.854	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
136	|ign_phi2_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 855.278350339118	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 248.96	|obs_unit -- 	| deviation -- 24.896	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
