104	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 703.605980650836	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 4166.5	|obs_unit -- 	| deviation -- 416.65	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
105	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 698.450836045651	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 5231.56	|obs_unit -- 	| deviation -- 523.156	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
106	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 679.190947743049	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 11107.78	|obs_unit -- 	| deviation -- 1110.778	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
107	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 665.907532080095	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 13467.21	|obs_unit -- 	| deviation -- 1346.721	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
130	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 719.279569583106	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 5624.61	|obs_unit -- 	| deviation -- 562.461	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
131	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 689.384173118154	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 7233.85	|obs_unit -- 	| deviation -- 723.385	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
