107	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 680	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 13467.21	|obs_unit -- 	| deviation -- 1346.721	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
107	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 750	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 13467.21	|obs_unit -- 	| deviation -- 1346.721	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
107	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 800	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 13467.21	|obs_unit -- 	| deviation -- 1346.721	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
107	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 850	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 13467.21	|obs_unit -- 	| deviation -- 1346.721	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
107	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 900	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 13467.21	|obs_unit -- 	| deviation -- 1346.721	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
107	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1000	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 13467.21	|obs_unit -- 	| deviation -- 1346.721	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
107	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1100	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 13467.21	|obs_unit -- 	| deviation -- 1346.721	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
107	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1200	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 13467.21	|obs_unit -- 	| deviation -- 1346.721	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
107	|ign_phi1_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1300	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 13467.21	|obs_unit -- 	| deviation -- 1346.721	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
113	|ign_phi1_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 750	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 402.31	|obs_unit -- 	| deviation -- 40.231	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
114	|ign_phi1_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 950	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 487.77	|obs_unit -- 	| deviation -- 48.777	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
113	|ign_phi1_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1050	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 402.31	|obs_unit -- 	| deviation -- 40.231	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
114	|ign_phi1_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.017857}	| Oxidizer -- x->O2 = 0.19643	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.785713}	|T -- 1200	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 487.77	|obs_unit -- 	| deviation -- 48.777	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
3	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 750	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 558.8	|obs_unit -- 	| deviation -- 55.88	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
7	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 950	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 558.8	|obs_unit -- 	| deviation -- 55.88	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
9	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1050	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 558.8	|obs_unit -- 	| deviation -- 55.88	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
12	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1200	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 558.8	|obs_unit -- 	| deviation -- 55.88	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
132	|ign_phi2_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 750	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 187.58	|obs_unit -- 	| deviation -- 18.758	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
133	|ign_phi2_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 950	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 312.94	|obs_unit -- 	| deviation -- 31.294	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
134	|ign_phi2_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1050	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 269.64	|obs_unit -- 	| deviation -- 26.964	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
135	|ign_phi2_0_p42	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.03509}	| Oxidizer -- x->O2 = 0.1929825	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7719275}	|T -- 1200	| P -- 42.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 238.54	|obs_unit -- 	| deviation -- 23.854	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
