119	|ign_phi2_0_p13_5	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'NC7H16'} = {'a': 0.001903411}	| Oxidizer -- x->O2 = 0.209684	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.788412589}	|T -- 1000	| P -- 13.5	| flow_rate -- N/A	|Phi -- N/A	| observed -- 558.8	|obs_unit -- 	| deviation -- 55.88	|data_weight -- 188	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
