1	|RCM__TMB_100_PHI_0_5_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 363.15	| T -- 921	| Pi -- 0.43029843	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 165.9	|obs_unit -- 	| deviation -- 16.59	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
2	|RCM__TMB_100_PHI_0_5_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 363.15	| T -- 950	| Pi -- 0.43029843	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 62.07	|obs_unit -- 	| deviation -- 6.207	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
3	|RCM__TMB_100_PHI_0_5_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 378.15	| T -- 972	| Pi -- 0.45003689	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 29.43	|obs_unit -- 	| deviation -- 2.943	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
4	|RCM__TMB_100_PHI_0_5_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 393.15	| T -- 973	| Pi -- 0.45003689	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 30.2	|obs_unit -- 	| deviation -- 3.02	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
5	|RCM__TMB_100_PHI_0_5_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 408.15	| T -- 1004	| Pi -- 0.45003689	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 15.26	|obs_unit -- 	| deviation -- 1.526	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
6	|RCM__TMB_100_PHI_0_5_P_10	| target -- RCM	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'T124MBZ', 'b': 'NC7H16'} = {'a': 0.00867, 'b': 0.0}	| Oxidizer -- x->O2 = 0.20817844	| Bath_gas -- x->{'bg1': 'N2', 'bg2': 'AR', 'bg3': 'CO2', 'bg4': 'HE', 'bg5': 'H2O'} = {'bg1': 0.2741057099, 'bg2': 0.50904584, 'bg3': 0.0, 'bg4': 1e-10, 'bg5': 1e-08}	| Ti -- 423.15	| T -- 1039	| Pi -- 0.46977535	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 6.794	|obs_unit -- 	| deviation -- 0.6794	|data_weight -- 51	|units -- {'conc': 'mol', 'Pi': 'atm', 'P': 'atm', 'T': 'K', 'Ti': 'K', 'observed': 'ms'}
