42	|GRI_Syn_PHI_0_5_80_20_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.032, 'd': 0.008}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 1001	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1045	|obs_unit -- 	| deviation -- 0.0606	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
43	|GRI_Syn_PHI_0_5_80_20_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.032, 'd': 0.008}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 978	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1292	|obs_unit -- 	| deviation -- 0.0654	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
44	|GRI_Syn_PHI_0_5_80_20_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.032, 'd': 0.008}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 964	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1294	|obs_unit -- 	| deviation -- 0.0765	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
45	|GRI_Syn_PHI_0_5_80_20_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.032, 'd': 0.008}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 962	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1331	|obs_unit -- 	| deviation -- 0.0741	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
55	|GRI_Syn_PHI_0_5_80_20_Ar_0_79_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.112, 'd': 0.028}	| Oxidizer -- x->O2 = 0.07	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.79}	|T -- 914	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1220	|obs_unit -- 	| deviation -- 0.0564	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
61	|GRI_Syn_PHI_0_5_20_80_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.008, 'd': 0.032}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 1046	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1160	|obs_unit -- 	| deviation -- 0.0557	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
62	|GRI_Syn_PHI_0_5_20_80_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.008, 'd': 0.032}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 918	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 3806	|obs_unit -- 	| deviation -- 0.0633	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
71	|GRI_Syn_PHI_0_5_20_80_Ar_0_79_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.028, 'd': 0.112}	| Oxidizer -- x->O2 = 0.07	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.79}	|T -- 933	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1099	|obs_unit -- 	| deviation -- 0.0616	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
