5	|GRI_Methane_Phi_1_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1842	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 891	|obs_unit -- 	| deviation -- 8.91	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
10	|GRI_Methane_Phi_1_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 2089	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 238	|obs_unit -- 	| deviation -- 2.38	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
11	|GRI_Methane_Phi_1_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1642	| P -- 4.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1246	|obs_unit -- 	| deviation -- 12.46	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
17	|GRI_Methane_Phi_1_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1797	| P -- 4.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 390	|obs_unit -- 	| deviation -- 3.9	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
22	|GRI_Methane_Phi_1_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1965	| P -- 4.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 116	|obs_unit -- 	| deviation -- 1.16	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
23	|GRI_Methane_Phi_2_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.005, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.005	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1829	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1337	|obs_unit -- 	| deviation -- 13.37	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
28	|GRI_Methane_Phi_2_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.005, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.005	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 2031	| P -- 1.03	| flow_rate -- N/A	|Phi -- N/A	| observed -- 356	|obs_unit -- 	| deviation -- 3.56	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
31	|GRI_Methane_Phi_2_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.005, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.005	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1698	| P -- 4.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1034	|obs_unit -- 	| deviation -- 10.34	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
35	|GRI_Methane_Phi_2_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.005, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.005	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1870	| P -- 4.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 301	|obs_unit -- 	| deviation -- 3.01	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
36	|GRI_Syn_PHI_0_5_80_20_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.032, 'd': 0.008}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 1245	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 201	|obs_unit -- 	| deviation -- 0.0465	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
41	|GRI_Syn_PHI_0_5_80_20_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.032, 'd': 0.008}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 1047	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 883	|obs_unit -- 	| deviation -- 0.0453	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
46	|GRI_Syn_PHI_0_5_80_20_Ar_0_79_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.112, 'd': 0.028}	| Oxidizer -- x->O2 = 0.07	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.79}	|T -- 1205	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 83	|obs_unit -- 	| deviation -- 0.0548	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
49	|GRI_Syn_PHI_0_5_80_20_Ar_0_79_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.112, 'd': 0.028}	| Oxidizer -- x->O2 = 0.07	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.79}	|T -- 1098	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 135	|obs_unit -- 	| deviation -- 0.0743	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
54	|GRI_Syn_PHI_0_5_80_20_Ar_0_79_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.112, 'd': 0.028}	| Oxidizer -- x->O2 = 0.07	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.79}	|T -- 936	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 744	|obs_unit -- 	| deviation -- 0.0705	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
56	|GRI_Syn_PHI_0_5_20_80_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.008, 'd': 0.032}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 1288	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 177	|obs_unit -- 	| deviation -- 0.0696	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
60	|GRI_Syn_PHI_0_5_20_80_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.008, 'd': 0.032}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 1134	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 591	|obs_unit -- 	| deviation -- 0.0534	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
63	|GRI_Syn_PHI_0_5_20_80_Ar_0_79_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.028, 'd': 0.112}	| Oxidizer -- x->O2 = 0.07	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.79}	|T -- 1282	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 80	|obs_unit -- 	| deviation -- 0.0442	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
66	|GRI_Syn_PHI_0_5_20_80_Ar_0_79_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.028, 'd': 0.112}	| Oxidizer -- x->O2 = 0.07	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.79}	|T -- 1116	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 156	|obs_unit -- 	| deviation -- 0.0751	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
70	|GRI_Syn_PHI_0_5_20_80_Ar_0_79_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.028, 'd': 0.112}	| Oxidizer -- x->O2 = 0.07	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.79}	|T -- 968	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 843	|obs_unit -- 	| deviation -- 0.0513	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
72	|GRI_Methane_Phi_1_P_4_Sp_Prof_CO2	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1926	| P -- 4.16	| flow_rate -- N/A	|Phi -- N/A	| observed -- 250	|obs_unit -- 	| deviation -- 0.05	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
73	|GRI_Methane_Phi_1_P_1_12_Sp_Prof_CO	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1916	| P -- 1.12	| flow_rate -- N/A	|Phi -- N/A	| observed -- 700	|obs_unit -- 	| deviation -- 0.07	|data_weight -- 73	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
