1	|ing_BUTADIENE_HTC_phi0_5_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 1290.5	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 52.73	|obs_unit -- 	| deviation -- 5.273	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
2	|ing_BUTADIENE_HTC_phi0_5_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 1205.3	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 138.29	|obs_unit -- 	| deviation -- 13.829	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
3	|ing_BUTADIENE_HTC_phi0_5_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 1160.5	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 218.55	|obs_unit -- 	| deviation -- 21.855	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
4	|ing_BUTADIENE_HTC_phi0_5_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 1096.6	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 658.79	|obs_unit -- 	| deviation -- 65.879	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
5	|ing_BUTADIENE_HTC_phi0_5_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 1045.4	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1298.0	|obs_unit -- 	| deviation -- 129.8	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
6	|ing_BUTADIENE_HTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 1217.7	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 45.21	|obs_unit -- 	| deviation -- 4.521	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
7	|ing_BUTADIENE_HTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 1160.5	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 105.13	|obs_unit -- 	| deviation -- 10.513	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
8	|ing_BUTADIENE_HTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 1119.0	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 199.4	|obs_unit -- 	| deviation -- 19.94	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
9	|ing_BUTADIENE_HTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 1062.7	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 533.84	|obs_unit -- 	| deviation -- 53.384	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
10	|ing_BUTADIENE_HTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 1024.2	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 977.84	|obs_unit -- 	| deviation -- 97.784	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
11	|ing_BUTADIENE_HTC_phi0_5_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 990.5	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1381.41	|obs_unit -- 	| deviation -- 138.141	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
12	|ing_BUTADIENE_HTC_phi0_5_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 1168.6	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 46.55	|obs_unit -- 	| deviation -- 4.655	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
13	|ing_BUTADIENE_HTC_phi0_5_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 1132.6	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 78.12	|obs_unit -- 	| deviation -- 7.812	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
14	|ing_BUTADIENE_HTC_phi0_5_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 1072.7	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 157.08	|obs_unit -- 	| deviation -- 15.708	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
15	|ing_BUTADIENE_HTC_phi0_5_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 1020.2	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 496.83	|obs_unit -- 	| deviation -- 49.683	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
16	|ing_BUTADIENE_HTC_phi0_5_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0187}	| Oxidizer -- x->O2 = 0.2062	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7751}	|T -- 966.9	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1398.0	|obs_unit -- 	| deviation -- 139.8	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
17	|ing_BUTADIENE_HTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1354.5	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 44.77	|obs_unit -- 	| deviation -- 4.477	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
18	|ing_BUTADIENE_HTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1269.4	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 107.97	|obs_unit -- 	| deviation -- 10.797	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
19	|ing_BUTADIENE_HTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1249.0	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 115.08	|obs_unit -- 	| deviation -- 11.508	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
20	|ing_BUTADIENE_HTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1167.7	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 305.97	|obs_unit -- 	| deviation -- 30.597	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
21	|ing_BUTADIENE_HTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1146.9	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 343.44	|obs_unit -- 	| deviation -- 34.344	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
22	|ing_BUTADIENE_HTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1077.7	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 842.15	|obs_unit -- 	| deviation -- 84.215	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
23	|ing_BUTADIENE_HTC_phi1_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1051.7	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1023.0	|obs_unit -- 	| deviation -- 102.3	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
24	|ing_BUTADIENE_HTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1329.6	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 28.04	|obs_unit -- 	| deviation -- 2.804	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
25	|ing_BUTADIENE_HTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1231.1	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 94.59	|obs_unit -- 	| deviation -- 9.459	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
26	|ing_BUTADIENE_HTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1205.9	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 122.0	|obs_unit -- 	| deviation -- 12.2	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
27	|ing_BUTADIENE_HTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1107.6	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 341.38	|obs_unit -- 	| deviation -- 34.138	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
28	|ing_BUTADIENE_HTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1034.6	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 859.99	|obs_unit -- 	| deviation -- 85.999	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
29	|ing_BUTADIENE_HTC_phi1_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 990.6	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1372.0	|obs_unit -- 	| deviation -- 137.2	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
30	|ing_BUTADIENE_HTC_phi1_0_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1239.7	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 44.52	|obs_unit -- 	| deviation -- 4.452	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
31	|ing_BUTADIENE_HTC_phi1_0_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1160.3	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 103.38	|obs_unit -- 	| deviation -- 10.338	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
32	|ing_BUTADIENE_HTC_phi1_0_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1114.7	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 187.06	|obs_unit -- 	| deviation -- 18.706	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
33	|ing_BUTADIENE_HTC_phi1_0_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1054.9	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 372.13	|obs_unit -- 	| deviation -- 37.213	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
34	|ing_BUTADIENE_HTC_phi1_0_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 1005.7	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 621.0	|obs_unit -- 	| deviation -- 62.1	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
35	|ing_BUTADIENE_HTC_phi1_0_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.0368}	| Oxidizer -- x->O2 = 0.2023	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7609}	|T -- 954.0	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1204.0	|obs_unit -- 	| deviation -- 120.4	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
36	|ing_BUTADIENE_HTC_phi2_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1330.1	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 47.8	|obs_unit -- 	| deviation -- 4.78	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
37	|ing_BUTADIENE_HTC_phi2_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1238.6	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 126.13	|obs_unit -- 	| deviation -- 12.613	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
38	|ing_BUTADIENE_HTC_phi2_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1200.2	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 200.76	|obs_unit -- 	| deviation -- 20.076	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
39	|ing_BUTADIENE_HTC_phi2_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1147.4	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 316.52	|obs_unit -- 	| deviation -- 31.652	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
40	|ing_BUTADIENE_HTC_phi2_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1100.4	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 579.24	|obs_unit -- 	| deviation -- 57.924	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
41	|ing_BUTADIENE_HTC_phi2_0_p10	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1046.0	| P -- 10	| flow_rate -- N/A	|Phi -- N/A	| observed -- 969.71	|obs_unit -- 	| deviation -- 96.971	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
42	|ing_BUTADIENE_HTC_phi2_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1281.4	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 48.05	|obs_unit -- 	| deviation -- 4.805	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
43	|ing_BUTADIENE_HTC_phi2_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1227.8	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 77.9	|obs_unit -- 	| deviation -- 7.79	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
44	|ing_BUTADIENE_HTC_phi2_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1169.3	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 148.9	|obs_unit -- 	| deviation -- 14.89	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
45	|ing_BUTADIENE_HTC_phi2_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1122.8	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 242.25	|obs_unit -- 	| deviation -- 24.225	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
46	|ing_BUTADIENE_HTC_phi2_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1067.5	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 452.74	|obs_unit -- 	| deviation -- 45.274	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
47	|ing_BUTADIENE_HTC_phi2_0_p20	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1016.0	| P -- 20	| flow_rate -- N/A	|Phi -- N/A	| observed -- 880.26	|obs_unit -- 	| deviation -- 88.026	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
48	|ing_BUTADIENE_HTC_phi2_0_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1184.8	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 37.15	|obs_unit -- 	| deviation -- 3.715	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
49	|ing_BUTADIENE_HTC_phi2_0_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1126.9	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 93.5	|obs_unit -- 	| deviation -- 9.35	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
50	|ing_BUTADIENE_HTC_phi2_0_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1067.5	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 284.77	|obs_unit -- 	| deviation -- 28.477	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
51	|ing_BUTADIENE_HTC_phi2_0_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 1024.1	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 555.12	|obs_unit -- 	| deviation -- 55.512	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
52	|ing_BUTADIENE_HTC_phi2_0_p40	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'C4H6'} = {'a': 0.071}	| Oxidizer -- x->O2 = 0.1952	| Bath_gas -- x->{'bg1': 'N2'} = {'bg1': 0.7338}	|T -- 989.8	| P -- 40	| flow_rate -- N/A	|Phi -- N/A	| observed -- 898.39	|obs_unit -- 	| deviation -- 89.839	|data_weight -- 52	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us'}
