1	|GRI_PHI_1_P_1_66_OH	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.00501, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.005	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.98999}	|T -- 1364	| P -- 1.66	| flow_rate -- N/A	|Phi -- N/A	| observed -- 400	|obs_unit -- 	| deviation -- 5.3	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
2	|GRI_PHI_1_P_1_55_OH	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0015, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.0015	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.997}	|T -- 1524	| P -- 1.55	| flow_rate -- N/A	|Phi -- N/A	| observed -- 400	|obs_unit -- 	| deviation -- 5.3	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
3	|GRI_PHI_1_P_1_66_CO	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.00501, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.005	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.98999}	|T -- 1364	| P -- 1.66	| flow_rate -- N/A	|Phi -- N/A	| observed -- 90	|obs_unit -- 	| deviation -- 9.0	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
4	|GRI_PHI_1_P_1_55_CO	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0015, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.0015	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.997}	|T -- 1524	| P -- 1.55	| flow_rate -- N/A	|Phi -- N/A	| observed -- 260	|obs_unit -- 	| deviation -- 27.0	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
5	|GRI_Methane_Phi_1_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1842	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 891	|obs_unit -- 	| deviation -- 8.91	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
6	|GRI_Methane_Phi_1_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1916	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 691	|obs_unit -- 	| deviation -- 6.91	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
7	|GRI_Methane_Phi_1_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 2089	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 238	|obs_unit -- 	| deviation -- 2.38	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
8	|GRI_Methane_Phi_1_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1642	| P -- 4.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1246	|obs_unit -- 	| deviation -- 12.46	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
9	|GRI_Methane_Phi_1_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1965	| P -- 4.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 116	|obs_unit -- 	| deviation -- 1.16	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
10	|GRI_Methane_Phi_2_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.005, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.005	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1829	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1337	|obs_unit -- 	| deviation -- 13.37	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
11	|GRI_Methane_Phi_2_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.005, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.005	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1933	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 590	|obs_unit -- 	| deviation -- 5.9	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
12	|GRI_Methane_Phi_2_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.005, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.005	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 2046	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 374	|obs_unit -- 	| deviation -- 3.74	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
13	|GRI_Methane_Phi_2_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.005, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.005	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1698	| P -- 4.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1034	|obs_unit -- 	| deviation -- 10.34	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
14	|GRI_Methane_Phi_2_P_4	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.005, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.005	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1870	| P -- 4.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 301	|obs_unit -- 	| deviation -- 3.01	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
15	|GRI_Syn_PHI_0_5_80_20_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.032, 'd': 0.008}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 1245	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 201	|obs_unit -- 	| deviation -- 0.0465	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
16	|GRI_Syn_PHI_0_5_80_20_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.032, 'd': 0.008}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 1176	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 220	|obs_unit -- 	| deviation -- 0.0658	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
17	|GRI_Syn_PHI_0_5_80_20_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.032, 'd': 0.008}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 964	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1294	|obs_unit -- 	| deviation -- 0.0765	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
18	|GRI_Syn_PHI_0_5_80_20_Ar_0_79_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.112, 'd': 0.028}	| Oxidizer -- x->O2 = 0.07	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.79}	|T -- 1205	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 83	|obs_unit -- 	| deviation -- 0.0548	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
19	|GRI_Syn_PHI_0_5_80_20_Ar_0_79_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.112, 'd': 0.028}	| Oxidizer -- x->O2 = 0.07	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.79}	|T -- 1098	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 135	|obs_unit -- 	| deviation -- 0.0743	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
20	|GRI_Syn_PHI_0_5_80_20_Ar_0_79_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.112, 'd': 0.028}	| Oxidizer -- x->O2 = 0.07	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.79}	|T -- 914	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1220	|obs_unit -- 	| deviation -- 0.0564	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
21	|GRI_Syn_PHI_0_5_20_80_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.008, 'd': 0.032}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 1288	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 177	|obs_unit -- 	| deviation -- 0.0696	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
22	|GRI_Syn_PHI_0_5_20_80_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.008, 'd': 0.032}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 1152	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 478	|obs_unit -- 	| deviation -- 0.0614	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
23	|GRI_Syn_PHI_0_5_20_80_Ar_0_94_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.008, 'd': 0.032}	| Oxidizer -- x->O2 = 0.02	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.94}	|T -- 918	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 3806	|obs_unit -- 	| deviation -- 0.0633	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
24	|GRI_Syn_PHI_0_5_20_80_Ar_0_79_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.028, 'd': 0.112}	| Oxidizer -- x->O2 = 0.07	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.79}	|T -- 1282	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 80	|obs_unit -- 	| deviation -- 0.0442	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
25	|GRI_Syn_PHI_0_5_20_80_Ar_0_79_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.028, 'd': 0.112}	| Oxidizer -- x->O2 = 0.07	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.79}	|T -- 1090	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 225	|obs_unit -- 	| deviation -- 0.06	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
26	|GRI_Syn_PHI_0_5_20_80_Ar_0_79_P_1	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.0, 'b': 0.0, 'c': 0.028, 'd': 0.112}	| Oxidizer -- x->O2 = 0.07	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.79}	|T -- 933	| P -- 1.0	| flow_rate -- N/A	|Phi -- N/A	| observed -- 1099	|obs_unit -- 	| deviation -- 0.0616	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
27	|GRI_Methane_Phi_1_P_4_Sp_Prof_CO2	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1926	| P -- 4.16	| flow_rate -- N/A	|Phi -- N/A	| observed -- 250	|obs_unit -- 	| deviation -- 0.05	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
28	|GRI_Methane_Phi_1_P_1_12_Sp_Prof_CO	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- timeDelay	|Ignition_mode -- reflected	|Flame_type -- N/A	|Reactor_type -- N/A	|Fuel_type -- Multi	| Fuel -- x->{'a': 'CH4', 'b': 'CH2O', 'c': 'H2', 'd': 'CO'} = {'a': 0.00333, 'b': 0.0, 'c': 0.0, 'd': 0.0}	| Oxidizer -- x->O2 = 0.00667	| Bath_gas -- x->{'bg1': 'AR'} = {'bg1': 0.99}	|T -- 1916	| P -- 1.12	| flow_rate -- N/A	|Phi -- N/A	| observed -- 700	|obs_unit -- 	| deviation -- 0.07	|data_weight -- 28	|units -- {'conc': 'mol', 'P': 'atm', 'T': 'K', 'observed': 'us'}
